Temp/
Library/
obj/
docs/
*.svd
*.apk
.DS_Store

*.pidb*
*.userprefs*
*.pdb*
*.mdb*

Assets/Resources/teak.bytes*

# Facebook SDK
Assets/Facebook*
Assets/Examples/
Assets/Plugins/Android/facebook/
Assets/Plugins/Android/facebook.meta
Assets/Plugins/Android/android-support-v4.jar*
Assets/Plugins/Android/AndroidManifest.xml*

Teak.unitypackage

iOSBuild/
WebBuild/
StandaloneBuild*/
FlashBuild/
Assets/AssetStoreTools*
