Temp/
Library/
obj/
*.svd
*.apk
.DS_Store

*.pidb*
*.userprefs*
*.pdb*
*.mdb*

Assets/Resources/TeakSettings.*
Assets/Teak/TeakVersion.cs*

Assets/Plugins/Android/bolts.jar*
Assets/Plugins/Android/android-support-v4.jar*
Assets/Plugins/Android/AndroidManifest.xml*
Assets/Plugins/Android/google-play-services.jar*

Assets/Plugins/Android/res.meta
Assets/Plugins/Android/res/values.meta
Assets/Plugins/Android/res/values/teak.xml*
Assets/Plugins/Android/res/values/teak_unity_version.xml*

Assets/Teak/Plugins/iOS/teak_version.m*

# Teak binaries
Assets/Plugins/Android/teak.jar*
Assets/Teak/Plugins/iOS/libTeak.a*
AndroidLibBuild/androidtemp

Teak.unitypackage

AndroidBuild/
iOSBuild/
WebBuild/
StandaloneBuild*/
FlashBuild/
Assets/AssetStoreTools*
